.products-no{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    display: none;
    align-items: flex-start;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(5px);

    &.pop-up--open{
        display: flex;
        animation: popup-open 0.4s 0s forwards;
    }
  
    @keyframes popup-open{
        0%{
            opacity: 0;
            transform: translateY(-15px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__content{
        width: 280px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 15px;
        margin-top: 100px;
        border-radius: 15px;
        p{
            &:first-child{
                line-height: 21px;
            }
            &:last-child{
                text-align: center;
                color: red;
                margin-top: 10px;
                cursor: pointer;
            }
        }
        &__btn{
            display: flex;
            align-items: center;
            justify-content: center;
            // gap: 20px;
            margin-top: 15px;
            a{
                text-decoration: none;
                line-height: 0;
                transition: 0.3s;
                &:hover{
                    transform: translateY(-4px);
                }
                &:first-child{
                    background-color: var(--main-purple);
                    color: #fff;
                    padding: 15px 10px;
                    border-radius: 5px;
                }
                &:last-child{
                    color: var(--main-purple);
                }
            }
            span{
                width: 1px;
                height: 20px;
                background-color: rgb(194, 194, 194);
                margin: 0 10px;
            }
        }
    }
}

.light-mode{
    .mode__pop-up{
        background-color: #c7c7c7;
        label{
            background-color: rgb(165, 165, 165);
        }
    }
}

.mode__pop-up{
    position: fixed;
    z-index: 5;
    background-color: #121212;
    bottom: 20px;
    left: 20px;
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 10px;
    font-family: Nicolo;
    margin-bottom: -300px;
    transition: 0.3s;
    @media screen and (max-width: 500px){
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        height: 0;
        display: none;
        &:checked + label{
            background-color: #eee;
            color: #000;
        }
    }
    label{
        padding: 13px;
        border-radius: 20px;
        background-color: #181818;
        cursor: pointer;
    }
    & > div{
        background-color: #909090;
        width: 50px;
        border-radius: 20px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    &.mode--open{
        margin-bottom: 0;
    }
}


.copied{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 120px;
    background-color: #121212;
    font-family: 'Nicolo';
    color: #eee;
    padding: 8px 10px;
    border-radius: 50px;
    margin-bottom: -200px;
    transition: 0.4s;
    z-index: 10;
    &.copy--active{
        margin-bottom: 0;
    }
}